Source: flatpak-hybris
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/flatpak-hybris
Vcs-Git: https://github.com/furilabs/flatpak-hybris.git

Package: flatpak-hybris
Architecture: all
Pre-Depends: flatpak,
             bubblewrap,
Depends: ${misc:Depends},
         flatpak-extension-gl-hybris,
         libc-bin,
Recommends: flatpak-extension-gl-hybris-tls-padding
Description: Simple wrapper that prepares flatpaks for running with hybris extensions
 This package contains a simple wrapper that prepares flatpaks for running
 with the hybris org.freedesktop.Platform.GL runtime extension.
 .
 If you have this package installed, flatpaks will run with libhybris
 automatically.

